openapi: 3.0.0
info:
  title: API генерации видео с аватарами
  description: API для генерации видео с аватарами и проверки статуса генерации
  version: 1.0.0
servers:
  - url: https://api.runpod.ai/v2/{serviceId}
    variables:
      serviceId:
        default: serviceId
        description: ID сервиса для второго генератора видео (заменить на актуальный ID)
  - url: https://api.runpod.ai/v2/{serviceId}
    variables:
      serviceId:
        default: serviceId
        description: ID сервиса для первого генератора видео (заменить на актуальный ID)
paths:
  /run:
    post:
      summary: Запрос на генерацию видео (Генератор 2)
      description: Отправляет запрос на генерацию видео с выбранным аватаром и текстом через второй генератор
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                    - avatar
                    - text
                  properties:
                    avatar:
                      type: string
                      enum: [irina, ann, malyshko, ksenija]
                      description: Тип аватара для использования в видео
                    text:
                      type: string
                      description: Текст, который будет произнесен аватаром
                    format:
                      type: string
                      enum: [mp4, webm, mov]
                      default: mp4
                      description: Формат выходного видео
                    response_format:
                      type: string
                      enum: [url, base64]
                      default: url
                      description: Формат ответа (URL или Base64)
              required:
                - input
            examples:
              example1:
                value:
                  input:
                    avatar: irina
                    text: Привет это тестовый запрос для того что бы проверить работоспособность сервера
                    response_format: url
                    format: mov
      responses:
        '200':
          description: Успешный запрос на генерацию видео
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Идентификатор задачи
                  status:
                    type: string
                    enum: [IN_QUEUE, IN_PROGRESS, COMPLETED, FAILED]
                    description: Статус выполнения задачи
              examples:
                example1:
                  value:
                    id: 6cdbf7a7-fa96-48c9-83db-33f4880c58f6-e1
                    status: IN_QUEUE
  /run-generator1:
    post:
      summary: Запрос на генерацию видео (Генератор 1)
      description: Отправляет запрос на генерацию видео с выбранным аватаром, текстом и голосом через первый генератор
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: object
                  required:
                    - avatar
                    - text
                  properties:
                    avatar:
                      type: string
                      enum: [ann]
                      description: Тип аватара для использования в видео
                    text:
                      type: string
                      description: Текст, который будет произнесен аватаром
                    format:
                      type: string
                      enum: [mp4]
                      default: mp4
                      description: Формат выходного видео
                    response_format:
                      type: string
                      enum: [url, base64]
                      default: base64
                      description: Формат ответа (URL или Base64)
                    voice:
                      type: string
                      description: Идентификатор голоса для озвучивания (например, XB0fDUnXU5powFXDhCwa)
              required:
                - input
            examples:
              example1:
                value:
                  input:
                    avatar: ann
                    text: Ваш текст для озвучивания
                    response_format: base64
                    format: mp4
                    voice: voice_id
      responses:
        '200':
          description: Успешный запрос на генерацию видео
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Идентификатор задачи
                  status:
                    type: string
                    enum: [IN_QUEUE, IN_PROGRESS, COMPLETED, FAILED]
                    description: Статус выполнения задачи
              examples:
                example1:
                  value:
                    id: task-id-example
                    status: IN_QUEUE
  /status/{taskId}:
    get:
      summary: Проверка статуса генерации видео
      description: Получает текущий статус задачи по её идентификатору (работает для обоих генераторов)
      security:
        - BearerAuth: []
      parameters:
        - name: taskId
          in: path
          required: true
          schema:
            type: string
          description: Идентификатор задачи, полученный при запросе на генерацию видео
      responses:
        '200':
          description: Информация о статусе выполнения задачи
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Идентификатор задачи
                  status:
                    type: string
                    enum: [IN_QUEUE, IN_PROGRESS, COMPLETED, FAILED]
                    description: Статус выполнения задачи
                  output:
                    type: object
                    description: Результат выполнения (присутствует только при status=COMPLETED)
              examples:
                inProgress:
                  value:
                    id: 6cdbf7a7-fa96-48c9-83db-33f4880c58f6-e1
                    status: IN_PROGRESS
                completed:
                  value:
                    id: 6cdbf7a7-fa96-48c9-83db-33f4880c58f6-e1
                    status: COMPLETED
                    output:
                      url: https://example.com/video.mp4
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: API ключ в формате Bearer токена (заменить на актуальный ключ)
